*{
    margin:0;
    padding:0;
   
}
.firstmain{
    background-color:#C4AF9A;
    max-width: 100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
gap: 350px;

}
.logo{
    background-color: aliceblue;
    border-radius: 50%;
    width: 85px;
    height: 70px;
    
}
.search{
    height:30px;
    width: 350px;
    margin-left: 10px;
    background-color: #ffffff;
    

}
.search1{
   
    width:35px;
    height: 30px;
    margin-left: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account{
    display: flex;
    justify-content: center;
    align-items: center;
background-color: #f3fffb;
}
.login{
    background-color: #C4AF9A;
}
#personicon{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#C4AF9A ;
}
.secondmain{
    background-color: #fbffff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
button{
    background-color: #fffefe ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
#play{
    size:  50px;
}


 #heading{
    font-size: 120px;
    font-family: Garamond;
    color: rgb(240, 205, 111);
}
.video-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.video-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('allinone.jpg') ;
    background-size: cover;
    background-position: center;
    padding-top: 15px;
    opacity: 0.;
}

/* Text overlay */
.overlay-text {
    height: 430px;
    width: 810px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    /* background: rgba(0, 0, 0, 0.5); */
    padding: 20px;
    border-radius: 10px;
}
 
.logincontainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex;
    background-color: #C4AF9A;
    background-image: url('jungle\ dore..webp');
    /* background-size: cover; */
    opacity: 0.9;
  
}
#textlog{
    font-size: 70px;
    font-family: Garamond;
    color: #ffffff;
    margin-bottom: 20px;
    display:inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
.loginbox{
    margin-top: 90px;
    width: 500px;
    margin-left: 20%;
    margin-right: 20%;
    height: 500px;
    position: absolute;
    background-color: black ;
    opacity: 0.8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    
}

#simplename{
   
 
    font-size: 30px;
    font-family: Garamond;
    text-align: left;
    display: block;
    font-weight: bold;
    color:#C4AF9A;
    margin-bottom: 20px;
    
}
#simplenames{
    font-size: 15px;
    font-family: Garamond;

    font-weight: bold;
    color:#C4AF9A;
    margin-bottom: 20px;

}
#names{
    height: 10px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    border: none;

}
#name{

    height: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
.logoin{
    color:white;

}
.social-icons{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgb(233, 230, 233);
}
#line{
    height: 1px;
    width: 500px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.video-background{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1{
    margin: 0;
    text-align: center;
    background-color: #c5c0c0;
    font-family: Garamond;
}

main{
    position: relative;
    z-index: 1;
}

#childhood{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    /* background-color:#C4AF9A ; */
   
}

#container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 70vw;
}

.cartoon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    gap: 15px;
    
}
#cartoon1,#cartoon2,#cartoon3,#cartoon4{
    height: 220px;
    border-radius: 8px;
}
#cartoon5,#cartoon6,#cartoon7,#cartoon8{
    height: 347px;
    border-radius: 8px;
}


.cartoon img {
    width: 220px; 
    transition: transform 0.5s easy-in, filter 0.5 ease-in;
}

.cartoon span button{
   margin-top: auto;
   border: 2px;
   background-color: #141313;
   color: rgb(246, 243, 243);
   border-radius: 4px;
   width: 110px;
   height: 25px;
   font-size: 18px;
   font-family: 'Times New Roman', Times, serif;
   
}

.cartoon span button:hover{
    transition: transform 0.4s ease-in-out;
    transform: scale(1.2);
}

.cartoon img:hover{
    transform: scale(1.1);
    filter: brightness(1.2);
}

