body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:#C4AF9A ;
         
}

/* .backimage{
    background-image: url("all in.jpg");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(80px);
}
  .backimage::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: rgba(0, 0, 0, 0.5);  */
    /* background-image: inherit;
    filter: blur(8px);
    z-index: -1;
  }
   */ 


#main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 70vw;
}

.cartoon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    text-align: center;
    /* margin: 10px;
    padding: 10px; */
}
#cartoon1{
    height: 220px;
}

.cartoon img {
    width: 220px; 
}
.cartoon span{
   margin-top: auto;
}